# Virtual environments
venv/
env/
toxic_env/

# Generated project artifacts
features/
models/

# Large embedding files
Embeddings/

# Python cache
__pycache__/
*.pyc

# Numpy artifacts
*.npy
*.npz

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store